@page "/EditFamily/{familyId}"
@using WebApplication.Models
@using global::Models
@using WebApplication.Data

@inject IUserService UserService;
@inject IFamilyService FamilyService;
@inject NavigationManager NavigationManager;

<AuthorizeView>
    <NotAuthorized>
        <p>Please <a class="btn-primary" href="/login">Login</a> to view this page</p>
    </NotAuthorized>
    <Authorized>
        <p style="display: none">Hello @saveUser(@context.User.Identity.Name)</p>
        <h1>
            EditFamily
        </h1>
        <h2>
            <button @onclick="@(() => SaveEdited())">
                Save <i class="oi oi-file"></i>
            </button>
        </h2>
        <div style="padding: 25px;
border-radius: 25px; border:  2px solid black; margin: 10px 0;">
            <p>Adress: @edited.StreetName @edited.HouseNumber</p>
            <EditForm Model="@edited" Context="Family">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <ValidationSummary></ValidationSummary>
                <div class="form-group">
                    Street name <br/>
                    <InputText @bind-Value="edited.StreetName"></InputText>
                </div>
                <div class="form-group">
                    House number: <br/>
                    <InputNumber rows="4" @bind-Value="edited.HouseNumber"></InputNumber>
                </div>
            </EditForm>
            <h3>Adults:</h3>
            @if (edited.Adults != null && edited.Adults.Count > 0)
            {
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th><th>Hair Color</th><th>Eye color</th><th>Age</th><th>Height</th><th>Weight</th><th>Job&Salary</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (Adult a in edited.Adults)
                    {
                        <tr>
                            <td>@a.FirstName @a.LastName</td>
                            <td>@a.HairColor</td>
                            <td>@a.EyeColor</td>
                            <td>@a.Age</td>
                            <td>@a.Height</td>
                            <td>@a.Weight</td>
                            <td>@a.JobTitle.JobTitle : @a.JobTitle.Salary $</td>
                        </tr>
                    }

                    <tr>
                    </tr>
                    </tbody>
                </table>
            }
            else
            {
                <p>none</p>
            }
            <EditForm Model="@toAddAdult" Context="Family">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <ValidationSummary></ValidationSummary>
                <div class="form-group">
                    <table class ="table">
                        <thead>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Hair color</th>
                        <th>Eye color</th>
                        <th>Age</th>
                        <th>Height</th>
                        <th>Weight</th>
                        <th>Job</th>
                        <th>Salary</th>
                        </thead>
                        <tbody>
                        <td> <InputText @bind-Value="toAddAdult.FirstName" style="width: 80px"></InputText></td>
                        <td> <InputText @bind-Value="toAddAdult.LastName" style="width: 80px"></InputText></td>
                        <td> <InputText @bind-Value="toAddAdult.HairColor" style="width: 80px"></InputText></td>
                        <td> <InputText @bind-Value="toAddAdult.EyeColor" style="width: 80px"></InputText></td>
                        <td> <InputNumber @bind-Value="toAddAdult.Age" style="width: 50px"></InputNumber></td>
                        <td> <InputNumber @bind-Value="toAddAdult.Height" style="width: 50px"></InputNumber></td>
                        <td> <InputNumber @bind-Value="toAddAdult.Weight" style="width: 50px"></InputNumber></td>
                        <td> <InputText @bind-Value="toAddAdult.JobTitle.JobTitle" style="width: 80px"></InputText></td>
                        <td> <InputNumber @bind-Value="toAddAdult.JobTitle.Salary" style="width: 50px"></InputNumber></td>

                        </tbody>
                    </table>
                    <h5><button @onclick="@(() => AddAdult())">
                                                            Add new adult <i class="oi oi-file"></i>
                                                        </button></h5> 
                </div>
               
            </EditForm>
            <h3>Children:</h3>
            @if (edited.Children != null && edited.Children.Count > 0)
            {
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th><th>Hair Color</th><th>Eye color</th><th>Age</th><th>Height</th><th>Weight</th><th>Interest & Pets</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (Child a in edited.Children)
                    {
                        <tr>
                            <td>@a.FirstName @a.LastName</td>
                            <td>@a.HairColor</td>
                            <td>@a.EyeColor</td>
                            <td>@a.Age</td>
                            <td>@a.Height</td>
                            <td>@a.Weight</td>
                            @if (a.Interests.Count > 0)
                            {
                                <td>
                                    Interests :
                                    <table class="table">
                                        <thead>
                                        <th>Name</th>
                                        <th>Description</th>
                                        </thead>
                                        <tbody>
                                        @foreach (Interest i in @a.Interests)
                                        {
                                            <tr>
                                                <td>@i.Type</td>
                                                <td>@i.Description</td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </td>
                            }
                            @if (a.Pets.Count > 0)
                            {
                                <td>
                                    Pets :
                                    <table class="table">
                                        <thead>
                                        <th>Name</th>
                                        <th>Species</th>
                                        <th>Age</th>
                                        </thead>
                                        <tbody>
                                        @foreach (Pet p in @a.Pets)
                                        {
                                            <tr>
                                                <td>@p.Name</td>
                                                <td>@p.Species</td>
                                                <td>@p.Age years</td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </td>
                            }

                        </tr>
                    }
                    </tbody>
                </table>
            }
            else
            {
                <p>none</p>
            }
            <h3>Pets:</h3>
            @if (edited.Pets != null && edited.Pets.Count > 0)
            {
                <table class="table">
                    <thead>
                    <th>Name</th>
                    <th>Species</th>
                    <th>Age</th>
                    </thead>
                    @foreach (var p in edited.Pets)
                    {
                        <tbody>
                        <tr>
                            <td>@p.Name</td>
                            <td>@p.Species</td>
                            <td>@p.Age years</td>
                        </tr>
                        </tbody>
                    }
                </table>
            }
            else
            {
                <p>none</p>
            }
        </div>


    </Authorized>
</AuthorizeView>
<div style="color:red">@errorMessage</div>

@code {

    [Parameter]
    public string familyId { get; set; }

    public int famId;
    private string userName;
    private int userID;
    private string errorMessage;
    private Family edited = new Family();

    private Adult toAddAdult = new Adult();

    public void newAdult()
    {
        toAddAdult = new Adult();
        toAddAdult.JobTitle = new Job();
    }
    private void getData()
    {
        try
        {
            famId = int.Parse(familyId);
            edited = FamilyService.GetFamiliesOfUser(userID).First(f => f.Id == famId);
        }
        catch (Exception)
        {
            errorMessage = "You are not allowed to do that";
        }
    }

    private string saveUser(string username)
    {
        userName = username;
        userID = UserService.getUserID(userName);
        getData();
        return userName;
    }

    private void AddAdult()
    {
        errorMessage = "";
        try
        {
            edited.Adults.Add(toAddAdult);
            FamilyService.UpdateFamily(edited);
            newAdult();

        }
        catch (Exception e)
        {
            errorMessage = e.Message;
        }
    }

    private void SaveEdited()
    {
        errorMessage = "";
        try
        {
            FamilyService.UpdateFamily(edited);
            NavigationManager.NavigateTo("/families");
        }
        catch (Exception e)
        {
            errorMessage = e.Message;
        }
    }

}